body {
    position: relative;
    margin: 0;
    padding: 0;
}

#header {
    height: 75px;
    background-color: #1abc9c;
}
.header-icon {
    padding: 8px;
}

#menuButton {
    font-size: 30pt;
    color: white;
}

#coinCount {
    font-size: 25pt;
    color: white;
}

.buttonContainer {
    background-color: grey;
    height: 100%;
}
.buttonContainer:hover {
    background-color: #BBBBBB;
}

.progressBarContainer {
    background-color: grey;
    padding: 5px 25px;
}

.progressBarContainer .row {
    margin: 8px 0;
}
/* This is to space out the buttons properly from the progress bars */
#playArea .row .col {
    margin-right: 15px;
}

.actionTitle {
    color: white;
}

.progressBar {
    height: 30px;
    background-color: #CCCCCC;
}

.xpBar {
    height: 12px;
    background-color: #CCCCCC;
}
