body {
    position: relative;
    margin: 0;
    padding: 0;
}

#overMenu {
    position: absolute;
    z-index: 5;
    width: 70%;
    background-color: rgba(30, 30, 30, 0.55);
    transition: left 0.5s ease-out;
}

#header {
    height: 75px;
    background-color: #1abc9c;
}
.header-icon {
    padding: 8px;
}

#menuButton {
    font-size: 30pt;
    color: white;
}
#menuButton:hover {
    background-color: #3de0c0;
    cursor: pointer;
}

#coinCount {
    font-size: 25pt;
    color: white;
}

.buttonContainer {
    background-color: grey;
    height: 100%;
}
.buttonContainer:hover {
    background-color: #BBBBBB;
}

.progressBarContainer {
    position: relative;
    background-color: grey;
    padding: 5px 25px;
}

.progressBarContainer .row {
    margin: 8px 0;
}
/* This is to space out the buttons properly from the progress bars */
#playArea .row .col {
    margin-right: 15px;
}

.actionTitle {
    color: white;
}

.progressBar {
    height: 30px;
    background-color: #CCCCCC;
    padding: 0;
}
.progressor {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: blue;
}
.xpProgressor {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(35, 204, 255);
}

.xpBar {
    height: 12px;
    background-color: #CCCCCC;
    padding: 0;
}

.itemAnimation {
    position: absolute;
    z-index: 2;
    right: 0;
    opacity: 1.0;
}

